$primary-color: #4D4265;
$secondary-color: #CDC6DB;
$circle-bg: #FAC53C;
$circle-border: #FFDD75;
$accent-color: #F6B379;

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-display {
  position: fixed;
  top: -120px; /* hidden initially */
  left: 0;
  width: 100%;
  height: auto;
  z-index: 50;
  transition: top 0.4s ease-in-out;
}

.search-display.visible {
  top: 0px;
}

// search bar group
.search-container{
  position: absolute;
  width: 100%;
  top: 50px;
  background-color: $secondary-color;
  box-sizing: border-box;
  padding: 15px;
}

// search bar
.search-bar{
  @include flex-center;
  background: white;
  padding: 10px;
  border-radius: 10px;
  input{
    flex: 1;           
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
  }

  .search-btn{
    height: 100%;
    width: 40px;
    background: none;
    border: none;
    cursor: pointer;
    @include flex-center;
    color: #555;

    &:hover{
      color: black;
    }
  }
}

// clear search 
.clear-btn{
  @include flex-center;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  width: 20px; height: 20px;
  border: 2px solid $primary-color;
  background-color: $circle-bg;
}
// results group
.results-container{
  @include flex-center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  gap: 50px;
  background-color: $secondary-color;
  margin: 20px;
  top: 120px;
  padding: 50px 20px ;
  border-radius: 25px;
  height: 300px;
  overflow-y: auto;

   .close-results {
    position: absolute;
    top: 20px;
    right: 20px;
    background: $circle-bg;
    color: black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
  }
}
